.carousel-caption{
    margin-top: 0 !important;
}

.about_title{
    text-align: center;
    font-size: 28px;
    color: #333;
    font-family: Open Sans;
    font-weight: 700;
}
.about_title1{
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.6;
    font-family: Open Sans;
    font-size: 21px;
    color: #444444;

}
.about_subtitle{
    font-size: 36px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;
    padding-right: 80px;
}

.about_text{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;

}
.fa-check{
    color: red;
}
.icon_text{
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
}

.blog_section{
    box-shadow: 0 12px 35px rgb(12 12 12 / 6%);
}

.blog_title{
    font-size: 24px;
    line-height: 22px;
}
.blog_text{
    font-size: 15px;
    line-height: 26px;
    color: #666;
}
.blog_read_more{
    color: red;
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
}
.ourservice__container{
    background-color: #f2f2f2;
    
}
.ourservice__text{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}
@media screen and (max-width: 480px) {
    .about_subtitle{
        font-size: 36px;
        line-height: 1.3;
        color: #000000;
        font-weight: 700;
    }
    
    .about_text{
        font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    
    }
}