body {
  margin: 0;
  padding: 0;
  box-sizing: 4rem;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('./styles/topnav.css');
@import url('./styles/navbar.css');
@import url('./styles/hero.css');
@import url('./styles/counter.css');
@import url('./styles/service.css');
@import url('./styles/footer.css');
